  </div>                              <!-- End Connections Info -->
  <div class="col-md-6">              <!-- Start Carousel Link -->
    <h1>BIG CAROUSEL IMAGE</h1>
  </div>                              <!-- End Start Carousel Link -->