<div class="col-sm-4 connectionStatus">
  <!-- if connectionStatus == mutual -->
    <button type="button" class="btn btn-xs btn-default btn-success">Mutual</button>
  <!-- else if connectionStatus == Ive liked but not been liked in return -->
    <button type="button" class="btn btn-xs btn-default btn-info">Liked</button>
  <!-- else connectionStatus == Ive been liked but not liked them back -->
    <button type="button" class="btn btn-xs btn-default btn-warning">Like?</button>
</div>
<div class="col-sm-8 matchName">Match Name</div>