<ol class="breadcrumb">
  <li><%= profile picture  && user name %></li>
  <li><a href="<%= user // user_id %>"></a>home</li>
  <li><a href="<%= carousel // alternate users show page %>"></a></li>
  <li><a href="<%= resouce show %>"></a></li>
  <li class="active"></li>
</ol>