<nav class="navbar navbar-default"
  <div class="container">
    <div class="navbar-header">
      <ul class="nav">
  <li class="<%= 'active' if current_page?(user_home_path) %>"><%= link_to "My Profile", user_home_path %></li>
  <li class="<%= 'active' if current_page?(user_matches_path) %>"><%= link_to "My Network", user_matches_path %></li>
</ul>
    </div>
  </div>
</nav>
