<%= render 'partials/header' %>
<div class="splash_background">
  <h1 class = "loginHeading"> ShareIt</h1>
  <div class = "loginwithfb">
    <i class="fa fa-facebook-official">
      <%= link_to("Login with Facebook", "/auth/facebook") %>
    </i>
  </div>
  <%= render 'partials/footer' %>
</div>