<%= render 'partials/header' %>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row, div1">
    <div class=".col-xs-12">
      <h1 class = "loginHeading">SHAREit</h1>
    </div>
  </div>
      <br>
      <br>
      <br>
      <br>
    <div class="row">
    <div class=".col-xs-12">
      <p class = "text-center">
        <%= link_to raw("<i class='icon-facebook icon-large'></i> Login with Facebook"), "/auth/facebook" %>
      </p>
    </div>
  </div>
     <br>
     <br>
     <br>
     <br>
     <br>
</div>
     <br>
     <br>
     <br>
     <br>
    <div class=".col-xs-12">
      <h3 class = "text-left, subhead">
        Mission
      </h3>
      <br>
          <h4>
          Our mission is to help people share resources with others in their community and build relationships,
          while helping decommercialize the sharing economy.
          </h4>
    <br>
    <br>
    <br>
    </div>
      <div class="row">
    <div class="col-md-6"><h3 class = "text-left, subhead">
        About Us
      </h3>
      <br>
          <h4>
          Three guys, a girl, and a plan to change lives and communities--for the better. While attending General 
          Assembly's Web Development Immersive program in San Francisco, CA, in 2015, we were tasked with working as a group to create a cool, new app. 
          <br>
          <br>
          After racking our brains for an idea, we all got excited about helping others connect with needed resources; while building bridges in communities; and facilitating the growth of a true, non-commercialized sharing economy. And, voila! SHAREit was born. 
          <br>
          <br>
          We'll stick to this story for now. If we told you our real origin story, we might just blow your minds--considering there's a generous smattering of alien worlds, super powers, and the requisite battle between 
          good vs. evil. 
          </h4>
    </div>
    <div class="col-md-6">
      <table style="width:100%">
        <tr>
            <br>
            <br>
          <td><a href="http://www.espn.com" target="_blank">
 <img src="ahman.gif" />
</a></td>
          <td><a href="http://www.espn.com" target="_blank">
 <img src="ahman.gif" />
</a></td> 
        </tr>
            <br>
            <br>
        <tr>
          <td><a href="http://www.espn.com" target="_blank">
 <img src="ahman.gif" />
</a></td>
          <td><a href="http://www.espn.com" target="_blank">
 <img src="ahman.gif" />
</a></td> 
        </tr>
      </table>
    </div> 
  </div>
    <br>
    <br>
    <br>
    <div class=".col-xs-12">
      <h3 class = "text-left, subhead">
        How To SHAREit
      </h3>
        <br>
        <h4>
          1. Fillout your profile.
          1a. Start with interests so we can match you with people in your community with similar interests.
          1b. List what you might want to borrow.
          1c. List what you are willing to lend.
          2. Search for matches.
          3. Share and borrow. 
          4. Meet cool new folks. 
          5. Rinse and repeat :) 
        </h4>
    <br>
    <br>
    <br>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container">
    <h1 class = "text-center">Hello World</h1>
  </div>
</nav>    
<%= render 'partials/footer' %>