<%= render 'partials/header' %>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class=".col-xs-12">
      <h1 class = "loginHeading">SHAREit</h1>
    </div>
  </div>
   <div class="row">
      <br>
      <br>
      <br>
      <br>
    <div class=".col-xs-12">
      <p class = "text-center">
        <i class="fa fa-facebook-official, facebook">
        <%= link_to("Login with Facebook", "/auth/facebook") %>
        </i>
      </p>
    </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    <div class=".col-xs-12">
      <h3 class = "text-left, subhead">
        Mission
      </h3>
    <br>
    <br>
    <br>
    </div>
    <div class=".col-xs-12">
      <h3 class = "text-left, subhead">
        About Us
      </h3>
    <br>
    <br>
    <br>
    </div>
    <div class=".col-xs-12">
      <h3 class = "text-left, subhead">
        How To SHAREit
      </h3>
    <br>
    <br>
    <br>
    </div>
  </div>
</div>
    
<%= render 'partials/footer' %>