
<%= render "partials/navbar" %>
<br>
<br>

<div class="container std_background body_background">

  <p>Display Potential Matches via Carousel</p>


  <p>Here are <%= @user.name %>'s potential matches to display:</p>

  <ul>
    <%= @carousel_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>


</div>