<<<<<<< HEAD

<div class="container">

 <p>Display Potential Matches via Carousel</p>


 <p>Here are <%= @user.name %>'s potential matches to display:</p>



</div>
=======
<div class="container">

  <p>Display Potential Matches via Carousel</p>


  <p>Here are <%= @user.name %>'s potential matches to display:</p>

  <ul>
    <%= @carousel_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>


</div>
>>>>>>> e0fe3b58d25bddcc8cc9e4b0aedbb690d7975ce2
