<h2>My resources:</h2>
  <div class="row">
    <div class ="col-md-10 col-md-offset-1">
      <table class ="table table-striped">
        <tr>
          <th>Have?</th>
          <th>Category</th>
        </tr>
        <% @resources.each do |resource| %>
          <tr >
            <td><%= resource.has %></td>
            <td><%= resource.category %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
