#hell{ width: 300%;
    
}
.btn-lg {
  width:200%
}

.user_resources_show {
  height: 190px;
  overflow-x: scroll;
}

.loginHeading {
  font-size: 80px;
  text-align: center;
}

.tabel th {

  text-align:center;
}
