// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_resource_area {
  height: 250px;
  overflow-x: scroll;
}
.user_match_index {
  height: 250px;
  overflow-x: scroll;
}

.container-fluid {
  border: 2px solid black
}

.container {
  border: 2px solid red
}

.connectionStatus, .matchName {
  border: 2px solid blue
}

.carousel {
  border: 2px solid green;
  height: 400px;
}

.description {
  height: 50px;
  width: 100px;
  border: orange;
}

.dateField {
  height: 25px;
  width: 50px;
}