// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_resource_area {
  height: 110px;
  overflow-x: scroll;
}
.user_match_index {
  height: 250px;
  overflow-x: scroll;
}

.user_resource_area {
  height: 250px;
}